out/1.REZ
out/3.REZ
out/2.REZ
out/4.REZ
out/5.REZ
out/6.REZ
out/7.REZ
out/REZULT.REZ
build/main/Analysis-00.toc
build/main/base_library.zip
build/main/EXE-00.toc
build/main/main.exe.manifest
build/main/main.pkg
build/main/PKG-00.toc
build/main/PYZ-00.pyz
build/main/PYZ-00.toc
build/main/Tree-00.toc
build/main/Tree-01.toc
build/main/Tree-02.toc
build/main/warn-main.txt
build/main/xref-main.html
build/main/localpycs/pyimod01_archive.pyc
build/main/localpycs/pyimod02_importers.pyc
build/main/localpycs/pyimod03_ctypes.pyc
build/main/localpycs/struct.pyc
dist/main.exe
main.spec
build/main/COLLECT-00.toc
build/main/main.exe
dist/main/_bz2.pyd
dist/main/_decimal.pyd
dist/main/_hashlib.pyd
dist/main/_lzma.pyd
dist/main/_socket.pyd
dist/main/_ssl.pyd
dist/main/base_library.zip
dist/main/libcrypto-1_1.dll
dist/main/libssl-1_1.dll
dist/main/main.exe
dist/main/python310.dll
dist/main/select.pyd
dist/main/unicodedata.pyd
dist/main/VCRUNTIME140.dll
out/1.docx
out/2.docx
out/3.docx
out/4.docx
out/5.docx
out/6.docx
out/7.docx
out/Rezult.docx
dist/main/_asyncio.pyd
dist/main/_ctypes.pyd
dist/main/_multiprocessing.pyd
dist/main/_overlapped.pyd
dist/main/_queue.pyd
dist/main/libffi-7.dll
dist/main/pyexpat.pyd
dist/main/docx/templates/default-footer.xml
dist/main/docx/templates/default-header.xml
dist/main/docx/templates/default-settings.xml
dist/main/docx/templates/default-styles.xml
dist/main/docx/templates/default.docx
dist/main/lxml/_elementpath.cp310-win32.pyd
dist/main/lxml/builder.cp310-win32.pyd
dist/main/lxml/etree.cp310-win32.pyd
dist/main/lxml/objectify.cp310-win32.pyd
dist/main/lxml/sax.cp310-win32.pyd
dist/main/lxml/html/clean.cp310-win32.pyd
dist/main/lxml/html/diff.cp310-win32.pyd
dist/main/lxml/isoschematron/resources/rng/iso-schematron.rng
dist/main/lxml/isoschematron/resources/xsl/RNG2Schtrn.xsl
dist/main/lxml/isoschematron/resources/xsl/XSD2Schtrn.xsl
dist/main/lxml/isoschematron/resources/xsl/iso-schematron-xslt1/iso_abstract_expand.xsl
dist/main/lxml/isoschematron/resources/xsl/iso-schematron-xslt1/iso_dsdl_include.xsl
dist/main/lxml/isoschematron/resources/xsl/iso-schematron-xslt1/iso_schematron_message.xsl
dist/main/lxml/isoschematron/resources/xsl/iso-schematron-xslt1/iso_schematron_skeleton_for_xslt1.xsl
dist/main/lxml/isoschematron/resources/xsl/iso-schematron-xslt1/iso_svrl_for_xslt1.xsl
dist/main/lxml/isoschematron/resources/xsl/iso-schematron-xslt1/readme.txt
__pycache__/*
env/*
.venv311/*
/.idea/encodings.xml
/.idea/vcs.xml
